.search-wrapper-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-main{
    outline: none;
    padding: 4px 15px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    height: 51px;
    font-weight: 400;
    color: #444;
}

.search-main::placeholder{
    color: #444;
    font-weight: 400;
}

.search-main:focus::placeholder{
    opacity: 0;
}

.btn-dropdown{
    outline: none;
    padding: 4px 15px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    height: 51px;
    min-width: 200px;
    background: white;
    color: #333;
    
}

.img-fluid{
    width: 100%;
}

.tabs-form span{
    opacity: .4;
}

.tabs-form .select-tab{
    cursor: pointer;
}

.tabs-form .select-tab.selected{
    opacity: 1;
    font-size: 1.3rem;
    text-shadow: 0 2px 1px #d1d1d1;
}

.post-meta span{
    background: #f3f3f3;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-right: 6px;
}

.blog-post-img{
    border: 1px solid #e7e7e7 !important;
    cursor: pointer;
}

.profile-page #professionals-grid h5.h5-md{
    font-size: 1.9rem;
}

.profile-page .hero-1-img{
    visibility: visible;
    animation-name: fadeInLeft;
    max-height: 500px;
    border-radius: 14% 20% 40% 20%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 20px rgb(0 0 0 / 15%);
    background: white;
    min-height: 400px;
}

.profile-page .insurance{
    background: white;
    padding: 3px 10px;
    color: black !important;
    border-radius: 4px;
    margin-right: 7px;
    font-size: 13px;
}

.profile-page .hero-1-img{
    background-color: white;
}

.profile-page .wsmainwp{
    max-width: 1320px;
}

#reviews-1{
    display: none;
}

#conocenos-image-2, #conocenos-image-3, #conocenos-image-4, #conocenos-image-5{
    display: none;
}

.conocenos-item{
    background-color: whitesmoke;
    box-shadow: none !important;
    cursor: pointer;
}

.conocenos-item.selected{
    background-color: #2B51BC !important;
    color: white !important;
}

.conocenos-item.selected h5{
    color: white !important;
}

.forma-parte-box{
    background: #2b51bb;
    border-radius: 60px 150px 30px 30px;
    min-height: 630px;
    transition: all .3s ease;
    box-shadow: 0 3px 10px rgba(0,0,0,0);
}

.forma-parte-box:hover{
    transform: translate(0px, -10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: all .3s ease;
}

.forma-parte-box p, .forma-parte-box h5 {
    transform: translate(0px, 0px);
    transition: all .3s ease;
}

.forma-parte-box:hover h5 {
    transform: translate(0px, -40px);
    transition: all .5s ease;
}

.forma-parte-box:hover p {
    transform: translate(0px, -35px);
    transition: all .8s ease;
}

.forma-parte-box.box-1 h5, .forma-parte-box.box-1 p, .forma-parte-box.box-3 h5, .forma-parte-box.box-3 p, .forma-parte-box u{
    color: white;
}

.forma-parte-box h5{
    font-size: 16px;
    text-align: left;
    padding: 20px 0 0 20px;
    transform: translate(0px, -50px);
}

.forma-parte-box p{
    font-size: 13px;
    text-align: left;
    padding: 10px 20px 0 20px;
    transform: translate(0px, -50px);
}

.forma-parte-box img{
    height: 290px;
}

.forma-parte-box.box-2{
    background: #f4f4f4 !important;
}

.forma-parte-box.box-2 u{
    color: #2f353e
}

.agendapp-p-1{
    padding: 30px;
}

.hero-1-txt{
    padding-bottom: 100px;
    padding-left: 0;
}

#content-9, #content-4{
    display: none;
}

.ob-divider{
    height: 50px;
        width: 100%;
        background: #2b51bb;
        border-radius: 0 0 100%;
}

.ob-divider-2{
    height: 50px;
        width: 100%;
        background: #2b51bb;
        border-radius: 100% 0 0;
}

.dropdown-item.selected{
    color: #0195ff !important;
    padding-left: 10px !important;
}

.cat-name{
    color: #444 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
}


#blog-1{
    z-index: -1;
    position: relative;
}

#hero-21 {
    padding-top: 60px;
}

.search-page .tra-menu .wsmainfull {
    padding: 0
}

.project-details{
    padding: 25px;
    min-height: 40vw;
}

.profile .hero-1-img{
    transform: rotateZ( 0deg);
    transition: all .5s ease;
}

.profile .hero-1-img:hover{
    transform: rotateZ( -5deg) !important;
    transition: all .5s ease;
}

.profile .btn-back{
    color: white;
    position: fixed;
    top: 30px;
    left: 30px;
    text-decoration: underline;
}

.center-form{
    padding: 20px;
}

.center-form .form-row{
    padding: 10px;
}

.center-form .form-row.d-flex{
    justify-content: space-between;
}

.center-form .form-row.d-flex .form-col{
    width: 49%;
}

.form-row input, .form-row textarea{
    width: 100%;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
}

.form-row label{
    width: 100%;
    padding: 4px 0;
    text-align: left;
}

.center-form .form-action{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.center-form .submit{
    background-color: #ff523d;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: white;
}

#features-8 .ws-link{
    color: #29ffb0;
}