.forma-wrapp{

}

.grid__item-wrap{
    display: flex;
    justify-content: center;
}

.forma-wrapp .grid{
    display: flex;
    justify-content: space-around;
}

.forma-wrapp .grid .grid__item{
    background-color: rgba(255,255,255,0.1);
    padding: 50px;
    width: 26%;
    border-radius: 25px;
    transition: all .3s ease;
}

.forma-wrapp .grid .grid__item.showing-data{
    width: 100%;
}

.forma-wrapp .grid .grid__item:hover{
    width: 26.5%;
    transition: all .3s ease;
}

.forma-wrapp .grid .grid__item:hover.showing-data{
    width: 100%;
}

.forma-wrapp .grid .grid__item img{
    height: auto;
    max-width: 100%;
    border-radius: 150px;
    transition: all .3s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.forma-wrapp .grid .grid__item:hover img{
    transform: rotateZ(-3deg);
    transition: all .3s ease;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.forma-wrapp .grid .grid__item.showing-data img{
    height: auto;
    max-width: 250px !important;
    border-radius: 150px;
    transition: all .3s ease;
    transform: rotateZ(0deg) !important;
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.forma-wrapp .grid .grid__item .grid__item-title{
    font-size: 23px;
    text-align: center;
    margin-top: 25px;
    color: white;
    letter-spacing: 0px;
}

.forma-wrapp .grid .grid__item.showing-data .grid__item-title{
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 40px;
    transition: all .3s ease;
}


.forma-wrapp .grid .grid__item .grid__item-title small{
    opacity: .85;
}

.content__item{
    display: none;
}

.grid__item-wrap{
    cursor: pointer;
}
.forma-wrapp .grid .grid__item .content__close{
    float: right;
    margin-left: -72px;
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 99999;
}


.forma-wrapp .grid .grid__item.showing-data .content__close{
    display: block;
}

.content__item-text{
    color: white;
}

@media (max-width: 840px) {
    .grid{
        flex-direction: column;
    }

    .forma-wrapp .grid .grid__item{
        width: 100% !important;
        margin-bottom: 20px;
    }
}