.search-page .col-12{
    padding: 5px;
}

.search-page .col-12 select, .search-page .col-12 input, .search-page .col-12 a{
    width: 100%;
}

.search-page .col-12 select{
    cursor: pointer;
}

#btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog-13 .section-title{
    display: none;
}

.searched #blog-13 .section-title{ 
    display: block;
}

body{
    background: #fbfbfd
}

.card-wrapper{
    border-radius: 18px;
    background-color: white;
    transition: all .3s ease;
    padding-bottom: 10px;
}

.card-wrapper:hover{
    border-radius: 18px;
    background-color: white;
    transition: all .3s ease;
    transform: translate(0px, -10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.project-txt{
    padding: 10px 15px;
    border-top: 2px solid #e5e5e5;
}

.job{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-btn, .turn-btn{
    border: none;
    padding: 4px 14px;
    border-radius: 5px;
    width: 48%;
}

.actions-wrapper{
    justify-content: space-between;
    display: none;
}


.card-wrapper:hover .actions-wrapper{
    display: flex;
}

.turn-btn{
    background-color: #0195ff;
    color: white;
}

.searched .h2-lg{
    display: none;
}

.other-data{
    margin-bottom: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.disabled{
    pointer-events: none;
    opacity: .7;
}